knotty-lib/resources/xml/knotty.xsd

<!--
  Knotty, a domain specific language for knitting patterns.
  Copyright (C) 2021-3 Tom Price

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<!--
  This file defines the schema for Knotty XML files.

  Create the schema using Saxon or similar XSLT software:

      java -jar saxon-he-11.5.jar -s:knotty-stitches.xml -xsl:knotty-make-xsd.xsl -o:knotty.xsd

  Knotty XML files can be validated using `xmllint` from `libxml`:

      xmllint ‑-schema knotty.xsd example.xml
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<!--
  `patterntype` defines a stitch pattern and does not contain garment or
  shape information beyond what is need to encode a colorwork design or
  lace motif.
-->
   <xs:complexType name="pattern-type">
      <xs:sequence>
         <xs:element name="name" type="xs:string" minOccurs="0"/>
         <xs:element name="url" type="xs:string" minOccurs="0" default=""/>
         <xs:element name="attribution" type="attribution-type" minOccurs="0"/>
         <xs:element name="keywords" type="keywords-type" minOccurs="0"/>
         <xs:element name="options" type="options-type" minOccurs="0"/>
         <xs:element name="dimensions" type="dimensions-type" minOccurs="1"/>
         <xs:element name="yarns" type="yarns-type" minOccurs="0"/>
         <xs:element name="stitch-instructions"
                      type="stitch-instructions-type"
                      minOccurs="0"/>
         <xs:element name="row-data" type="row-data-type" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- optional attribution -->
   <xs:complexType name="attribution-type">
      <xs:sequence>
         <xs:element name="author" type="author-type" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- type for author information -->
   <xs:complexType name="author-type">
      <xs:sequence>
         <xs:element name="name" type="xs:string" minOccurs="1"/>
         <xs:element name="url" type="xs:string" minOccurs="0" default="''"/>
      </xs:sequence>
   </xs:complexType>
   <!-- type for optional keywords -->
   <xs:complexType name="keywords-type">
      <xs:sequence>
         <xs:element name="keyword" type="keyword-type" minOccurs="0" maxOccurs="32"/>
      </xs:sequence>
   </xs:complexType>
   <!-- type for individual keyword -->
   <xs:simpleType name="keyword-type">
      <xs:restriction base="xs:token">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- type for pattern options -->
   <xs:complexType name="options-type">
      <xs:sequence>
         <xs:element name="technique" type="technique-type" minOccurs="0"/>
         <xs:element name="form" type="form-type" minOccurs="0"/>
         <xs:element name="face" type="face-type" minOccurs="0"/>
         <xs:element name="side" type="side-type" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- whether the piece is knit by "hand" or using a "machine" -->
   <xs:simpleType name="technique-type">
      <xs:restriction base="xs:token">
         <xs:enumeration value="hand"/>
         <xs:enumeration value="machine-texture"/>
         <xs:enumeration value="machine-fair-isle"/>
         <xs:enumeration value="machine-intarsia"/>
         <xs:enumeration value="machine-jacquard"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- whether the piece is worked "flat" or in the round ("circular") -->
   <xs:simpleType name="form-type">
      <xs:restriction base="xs:token">
         <xs:enumeration value="flat"/>
         <xs:enumeration value="circular"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- whether the first row is worked on the right side ("rs") or wrong
      side ("ws") of the piece -->
   <xs:simpleType name="face-type">
      <xs:restriction base="xs:token">
         <xs:enumeration value="rs"/>
         <xs:enumeration value="ws"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- whether the first row is worked from the LHS or from the RHS -->
   <xs:simpleType name="side-type">
      <xs:restriction base="xs:token">
         <xs:enumeration value="right"/>
         <xs:enumeration value="left"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- required type for pattern dimensions -->
   <xs:complexType name="dimensions-type">
      <xs:sequence>
         <xs:element name="row-count" type="natural" minOccurs="1"/>
         <xs:element name="first-row-stitches-in-count" type="natural" minOccurs="1"/>
         <xs:element name="last-row-stitches-out-count" type="natural" minOccurs="1"/>
         <xs:element name="gauge" type="gauge-type" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- type for optional gauge specification -->
   <xs:complexType name="gauge-type">
      <xs:sequence>
         <xs:element name="stitch-count" type="positive-integer"/>
         <xs:element name="stitch-measurement" type="positive-integer"/>
         <xs:element name="row-count" type="positive-integer"/>
         <xs:element name="row-measurement" type="positive-integer"/>
         <xs:element name="measurement-unit" type="measurement-unit-type"/>
      </xs:sequence>
   </xs:complexType>
   <!-- type for measurement unit -->
   <xs:simpleType name="measurement-unit-type">
      <xs:union>
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="cm"/>
               <xs:enumeration value="inch"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:union>
   </xs:simpleType>
   <!-- type for optional yarn specification -->
   <xs:complexType name="yarns-type">
      <xs:sequence>
         <xs:element name="yarn" type="yarn-type" minOccurs="0" maxOccurs="256"/>
      </xs:sequence>
   </xs:complexType>
   <!-- type for individual yarn -->
   <!-- default color is white -->
   <!-- FIXME could use a more structured type for yarn weight -->
   <xs:complexType name="yarn-type">
      <xs:sequence>
         <xs:element name="number" type="byte" default="0"/>
         <xs:element name="color" type="color-type" default="FFFFFF"/>
         <xs:element name="name" type="xs:string" minOccurs="0" default="''"/>
         <xs:element name="weight"
                      type="yarn-weight-type"
                      minOccurs="0"
                      default="''"/>
         <xs:element name="fiber" type="xs:string" minOccurs="0" default="''"/>
         <xs:element name="brand" type="xs:string" minOccurs="0" default="''"/>
      </xs:sequence>
   </xs:complexType>
   <!-- type for yarn weight -->
   <xs:simpleType name="yarn-weight-type">
      <xs:union memberTypes="empty">
         <xs:simpleType>
            <xs:restriction base="xs:integer">
               <xs:minInclusive value="0"/>
               <xs:maxInclusive value="7"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:union>
   </xs:simpleType>
   <!-- default yarn number of 0 = MC -->
   <xs:simpleType name="byte">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="255"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- color encoded as 24-bit RGB, R is most significant byte -->
   <xs:simpleType name="color-type">
      <xs:restriction base="xs:hexBinary">
         <xs:maxLength value="6" fixed="true"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- required row data -->
   <xs:complexType name="row-data-type">
      <xs:sequence>
         <xs:element name="rows" type="rows-type" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <!-- stitch and yarn information matching one or more row numbers -->
   <xs:complexType name="rows-type">
      <xs:sequence>
         <xs:element name="row-number" type="positive-integer" maxOccurs="unbounded"/>
         <xs:element name="memo" type="xs:string" minOccurs="0" default=""/>
         <xs:element name="default-yarn"
                      type="yarn-number-type"
                      minOccurs="0"
                      default="0"/>
         <xs:element name="short-row" type="boolean" minOccurs="0" default="0"/>
         <xs:element name="stitches" type="stitches-type" minOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <!-- type for positive integer -->
   <xs:simpleType name="positive-integer">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- type for yarn number -->
   <xs:simpleType name="yarn-number-type">
      <xs:union memberTypes="byte empty"/>
   </xs:simpleType>
   <!-- 0 = false, 1 = true -->
   <xs:simpleType name="boolean">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- type for stitches -->
   <xs:complexType name="stitches-type">
      <xs:sequence>
         <xs:group ref="stitch-element-group" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <!-- most general element type for encoding stitch information -->
   <xs:group name="stitch-element-group">
      <xs:choice>
         <xs:element name="run" type="stitch-run-type" maxOccurs="unbounded"/>
         <xs:element name="seq" type="stitch-seq-type" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <!-- describes a sequence of one or more stitches of the same kind and
      using the same yarn -->
   <!-- absent count or count = 0 means a variable repeat -->
   <xs:complexType name="stitch-run-type">
      <xs:sequence>
         <xs:element name="count" type="natural" minOccurs="0"/>
         <xs:element name="stitch" type="stitch-id-type"/>
         <xs:element name="yarn" type="yarn-number-type"/>
      </xs:sequence>
   </xs:complexType>
   <!-- describes repeated element of more than one type or color of stitch -->
   <!-- absent count or count = 0 means a variable repeat -->
   <xs:complexType name="stitch-seq-type">
      <xs:sequence>
         <xs:element name="count" type="natural" minOccurs="0"/>
         <xs:element name="stitches" type="stitches-type" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <!-- type for non-negative integers -->
   <xs:simpleType name="natural">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- stitch identifier -->
   <xs:simpleType name="stitch-id-type">
      <xs:union memberTypes="stitch-id-enum-type stitch-id-string-type"/>
   </xs:simpleType>
   <!-- FIXME incomplete list of stitches -->
   <xs:simpleType name="stitch-id-enum-type">
      <xs:restriction base="xs:token">
         <xs:enumeration value="bebd"/>
         <xs:enumeration value="bebd-ws"/>
         <xs:enumeration value="bebyo"/>
         <xs:enumeration value="bebyo-ws"/>
         <xs:enumeration value="bed"/>
         <xs:enumeration value="bed-ws"/>
         <xs:enumeration value="beyo"/>
         <xs:enumeration value="beyo-ws"/>
         <xs:enumeration value="bo"/>
         <xs:enumeration value="cdd"/>
         <xs:enumeration value="cddp"/>
         <xs:enumeration value="cdi"/>
         <xs:enumeration value="cdip"/>
         <xs:enumeration value="co"/>
         <xs:enumeration value="ds"/>
         <xs:enumeration value="dyo"/>
         <xs:enumeration value="en"/>
         <xs:enumeration value="gs"/>
         <xs:enumeration value="inc4k"/>
         <xs:enumeration value="inc4p"/>
         <xs:enumeration value="inc5k"/>
         <xs:enumeration value="inc5p"/>
         <xs:enumeration value="k"/>
         <xs:enumeration value="k2tog"/>
         <xs:enumeration value="k2togtbl"/>
         <xs:enumeration value="k3tog"/>
         <xs:enumeration value="k3togtbl"/>
         <xs:enumeration value="kb"/>
         <xs:enumeration value="ktbl"/>
         <xs:enumeration value="kyk"/>
         <xs:enumeration value="lc-1/1"/>
         <xs:enumeration value="lc-1/1-ws"/>
         <xs:enumeration value="lc-1/1/1"/>
         <xs:enumeration value="lc-1/1/1-ws"/>
         <xs:enumeration value="lc-1/2"/>
         <xs:enumeration value="lc-1/2-ws"/>
         <xs:enumeration value="lc-1/2/1"/>
         <xs:enumeration value="lc-1/2/1-ws"/>
         <xs:enumeration value="lc-1/3"/>
         <xs:enumeration value="lc-1/3-ws"/>
         <xs:enumeration value="lc-1/3/1"/>
         <xs:enumeration value="lc-1/3/1-ws"/>
         <xs:enumeration value="lc-1/4"/>
         <xs:enumeration value="lc-1/4-ws"/>
         <xs:enumeration value="lc-2/1"/>
         <xs:enumeration value="lc-2/1-ws"/>
         <xs:enumeration value="lc-2/1/2"/>
         <xs:enumeration value="lc-2/1/2-ws"/>
         <xs:enumeration value="lc-2/2"/>
         <xs:enumeration value="lc-2/2-ws"/>
         <xs:enumeration value="lc-2/2/2"/>
         <xs:enumeration value="lc-2/2/2-ws"/>
         <xs:enumeration value="lc-2/3"/>
         <xs:enumeration value="lc-2/3-ws"/>
         <xs:enumeration value="lc-2/4"/>
         <xs:enumeration value="lc-2/4-ws"/>
         <xs:enumeration value="lc-3/1"/>
         <xs:enumeration value="lc-3/1-ws"/>
         <xs:enumeration value="lc-3/1/3"/>
         <xs:enumeration value="lc-3/1/3-ws"/>
         <xs:enumeration value="lc-3/2"/>
         <xs:enumeration value="lc-3/2-ws"/>
         <xs:enumeration value="lc-3/2/3"/>
         <xs:enumeration value="lc-3/2/3-ws"/>
         <xs:enumeration value="lc-3/3"/>
         <xs:enumeration value="lc-3/3-ws"/>
         <xs:enumeration value="lc-3/3/3"/>
         <xs:enumeration value="lc-3/3/3-ws"/>
         <xs:enumeration value="lc-3/4"/>
         <xs:enumeration value="lc-3/4-ws"/>
         <xs:enumeration value="lc-4/1"/>
         <xs:enumeration value="lc-4/1-ws"/>
         <xs:enumeration value="lc-4/1/4"/>
         <xs:enumeration value="lc-4/1/4-ws"/>
         <xs:enumeration value="lc-4/2"/>
         <xs:enumeration value="lc-4/2-ws"/>
         <xs:enumeration value="lc-4/3"/>
         <xs:enumeration value="lc-4/3-ws"/>
         <xs:enumeration value="lc-4/4"/>
         <xs:enumeration value="lc-4/4-ws"/>
         <xs:enumeration value="lc-4/4/4"/>
         <xs:enumeration value="lc-4/4/4-ws"/>
         <xs:enumeration value="lc-5/5"/>
         <xs:enumeration value="lc-5/5-ws"/>
         <xs:enumeration value="lc-6/6"/>
         <xs:enumeration value="lc-6/6-ws"/>
         <xs:enumeration value="lpc-1/1"/>
         <xs:enumeration value="lpc-1/1/1"/>
         <xs:enumeration value="lpc-1/1/1-ws"/>
         <xs:enumeration value="lpc-1/2"/>
         <xs:enumeration value="lpc-1/2/1"/>
         <xs:enumeration value="lpc-1/2/1-ws"/>
         <xs:enumeration value="lpc-1/3"/>
         <xs:enumeration value="lpc-1/3/1"/>
         <xs:enumeration value="lpc-1/3/1-ws"/>
         <xs:enumeration value="lpc-1/4"/>
         <xs:enumeration value="lpc-2/1"/>
         <xs:enumeration value="lpc-2/1/2"/>
         <xs:enumeration value="lpc-2/1/2-ws"/>
         <xs:enumeration value="lpc-2/2"/>
         <xs:enumeration value="lpc-2/2/2"/>
         <xs:enumeration value="lpc-2/2/2-ws"/>
         <xs:enumeration value="lpc-2/3"/>
         <xs:enumeration value="lpc-2/4"/>
         <xs:enumeration value="lpc-3/1"/>
         <xs:enumeration value="lpc-3/1/3"/>
         <xs:enumeration value="lpc-3/1/3-ws"/>
         <xs:enumeration value="lpc-3/2"/>
         <xs:enumeration value="lpc-3/2/3"/>
         <xs:enumeration value="lpc-3/2/3-ws"/>
         <xs:enumeration value="lpc-3/3"/>
         <xs:enumeration value="lpc-3/3/3"/>
         <xs:enumeration value="lpc-3/3/3-ws"/>
         <xs:enumeration value="lpc-3/4"/>
         <xs:enumeration value="lpc-4/1"/>
         <xs:enumeration value="lpc-4/1/4"/>
         <xs:enumeration value="lpc-4/1/4-ws"/>
         <xs:enumeration value="lpc-4/2"/>
         <xs:enumeration value="lpc-4/3"/>
         <xs:enumeration value="lpc-4/4"/>
         <xs:enumeration value="lpc-4/4/4"/>
         <xs:enumeration value="lpc-4/4/4-ws"/>
         <xs:enumeration value="lpc-5/5"/>
         <xs:enumeration value="lpc-6/6"/>
         <xs:enumeration value="lpt-1/1"/>
         <xs:enumeration value="lpt-1/1-ws"/>
         <xs:enumeration value="lpt-2/1"/>
         <xs:enumeration value="lpt-2/1-ws"/>
         <xs:enumeration value="lpt-2/2"/>
         <xs:enumeration value="lpt-2/2-ws"/>
         <xs:enumeration value="lt"/>
         <xs:enumeration value="lt-1/1"/>
         <xs:enumeration value="lt-1/1-ws"/>
         <xs:enumeration value="lt-2/1"/>
         <xs:enumeration value="lt-2/1-ws"/>
         <xs:enumeration value="lt-2/2"/>
         <xs:enumeration value="lt-2/2-ws"/>
         <xs:enumeration value="m"/>
         <xs:enumeration value="mb"/>
         <xs:enumeration value="ml"/>
         <xs:enumeration value="mlp"/>
         <xs:enumeration value="mml"/>
         <xs:enumeration value="mmr"/>
         <xs:enumeration value="mp"/>
         <xs:enumeration value="mr"/>
         <xs:enumeration value="mrp"/>
         <xs:enumeration value="na"/>
         <xs:enumeration value="ns"/>
         <xs:enumeration value="p"/>
         <xs:enumeration value="p2tog"/>
         <xs:enumeration value="p2togtbl"/>
         <xs:enumeration value="p3tog"/>
         <xs:enumeration value="p3togtbl"/>
         <xs:enumeration value="pb"/>
         <xs:enumeration value="pbk"/>
         <xs:enumeration value="pbp"/>
         <xs:enumeration value="ptbl"/>
         <xs:enumeration value="pyp"/>
         <xs:enumeration value="rc-1/1"/>
         <xs:enumeration value="rc-1/1-ws"/>
         <xs:enumeration value="rc-1/1/1"/>
         <xs:enumeration value="rc-1/1/1-ws"/>
         <xs:enumeration value="rc-1/2"/>
         <xs:enumeration value="rc-1/2-ws"/>
         <xs:enumeration value="rc-1/2/1"/>
         <xs:enumeration value="rc-1/2/1-ws"/>
         <xs:enumeration value="rc-1/3"/>
         <xs:enumeration value="rc-1/3-ws"/>
         <xs:enumeration value="rc-1/3/1"/>
         <xs:enumeration value="rc-1/3/1-ws"/>
         <xs:enumeration value="rc-1/4"/>
         <xs:enumeration value="rc-1/4-ws"/>
         <xs:enumeration value="rc-2/1"/>
         <xs:enumeration value="rc-2/1-ws"/>
         <xs:enumeration value="rc-2/1/2"/>
         <xs:enumeration value="rc-2/1/2-ws"/>
         <xs:enumeration value="rc-2/2"/>
         <xs:enumeration value="rc-2/2-ws"/>
         <xs:enumeration value="rc-2/2/2"/>
         <xs:enumeration value="rc-2/2/2-ws"/>
         <xs:enumeration value="rc-2/3"/>
         <xs:enumeration value="rc-2/3-ws"/>
         <xs:enumeration value="rc-2/4"/>
         <xs:enumeration value="rc-2/4-ws"/>
         <xs:enumeration value="rc-3/1"/>
         <xs:enumeration value="rc-3/1-ws"/>
         <xs:enumeration value="rc-3/1/3"/>
         <xs:enumeration value="rc-3/1/3-ws"/>
         <xs:enumeration value="rc-3/2"/>
         <xs:enumeration value="rc-3/2-ws"/>
         <xs:enumeration value="rc-3/2/3"/>
         <xs:enumeration value="rc-3/2/3-ws"/>
         <xs:enumeration value="rc-3/3"/>
         <xs:enumeration value="rc-3/3-ws"/>
         <xs:enumeration value="rc-3/3/3"/>
         <xs:enumeration value="rc-3/3/3-ws"/>
         <xs:enumeration value="rc-3/4"/>
         <xs:enumeration value="rc-3/4-ws"/>
         <xs:enumeration value="rc-4/1"/>
         <xs:enumeration value="rc-4/1-ws"/>
         <xs:enumeration value="rc-4/1/4"/>
         <xs:enumeration value="rc-4/1/4-ws"/>
         <xs:enumeration value="rc-4/2"/>
         <xs:enumeration value="rc-4/2-ws"/>
         <xs:enumeration value="rc-4/3"/>
         <xs:enumeration value="rc-4/3-ws"/>
         <xs:enumeration value="rc-4/4"/>
         <xs:enumeration value="rc-4/4-ws"/>
         <xs:enumeration value="rc-4/4/4"/>
         <xs:enumeration value="rc-4/4/4-ws"/>
         <xs:enumeration value="rc-5/5"/>
         <xs:enumeration value="rc-5/5-ws"/>
         <xs:enumeration value="rc-6/6"/>
         <xs:enumeration value="rc-6/6-ws"/>
         <xs:enumeration value="rpc-1/1"/>
         <xs:enumeration value="rpc-1/1/1"/>
         <xs:enumeration value="rpc-1/1/1-ws"/>
         <xs:enumeration value="rpc-1/2"/>
         <xs:enumeration value="rpc-1/2/1"/>
         <xs:enumeration value="rpc-1/2/1-ws"/>
         <xs:enumeration value="rpc-1/3"/>
         <xs:enumeration value="rpc-1/3/1"/>
         <xs:enumeration value="rpc-1/3/1-ws"/>
         <xs:enumeration value="rpc-1/4"/>
         <xs:enumeration value="rpc-2/1"/>
         <xs:enumeration value="rpc-2/1/2"/>
         <xs:enumeration value="rpc-2/1/2-ws"/>
         <xs:enumeration value="rpc-2/2"/>
         <xs:enumeration value="rpc-2/2/2"/>
         <xs:enumeration value="rpc-2/2/2-ws"/>
         <xs:enumeration value="rpc-2/3"/>
         <xs:enumeration value="rpc-2/4"/>
         <xs:enumeration value="rpc-3/1"/>
         <xs:enumeration value="rpc-3/1/3"/>
         <xs:enumeration value="rpc-3/1/3-ws"/>
         <xs:enumeration value="rpc-3/2"/>
         <xs:enumeration value="rpc-3/2/3"/>
         <xs:enumeration value="rpc-3/2/3-ws"/>
         <xs:enumeration value="rpc-3/3"/>
         <xs:enumeration value="rpc-3/3/3"/>
         <xs:enumeration value="rpc-3/3/3-ws"/>
         <xs:enumeration value="rpc-3/4"/>
         <xs:enumeration value="rpc-4/1"/>
         <xs:enumeration value="rpc-4/1/4"/>
         <xs:enumeration value="rpc-4/1/4-ws"/>
         <xs:enumeration value="rpc-4/2"/>
         <xs:enumeration value="rpc-4/3"/>
         <xs:enumeration value="rpc-4/4"/>
         <xs:enumeration value="rpc-4/4/4"/>
         <xs:enumeration value="rpc-4/4/4-ws"/>
         <xs:enumeration value="rpc-5/5"/>
         <xs:enumeration value="rpc-6/6"/>
         <xs:enumeration value="rpt-1/1"/>
         <xs:enumeration value="rpt-1/1-ws"/>
         <xs:enumeration value="rpt-2/1"/>
         <xs:enumeration value="rpt-2/1-ws"/>
         <xs:enumeration value="rpt-2/2"/>
         <xs:enumeration value="rpt-2/2-ws"/>
         <xs:enumeration value="rss"/>
         <xs:enumeration value="rt"/>
         <xs:enumeration value="rt-1/1"/>
         <xs:enumeration value="rt-1/1-ws"/>
         <xs:enumeration value="rt-2/1"/>
         <xs:enumeration value="rt-2/1-ws"/>
         <xs:enumeration value="rt-2/2"/>
         <xs:enumeration value="rt-2/2-ws"/>
         <xs:enumeration value="sk2psso"/>
         <xs:enumeration value="sl"/>
         <xs:enumeration value="slk"/>
         <xs:enumeration value="slkwyif"/>
         <xs:enumeration value="slwyif"/>
         <xs:enumeration value="sp"/>
         <xs:enumeration value="ss"/>
         <xs:enumeration value="ssk"/>
         <xs:enumeration value="ssk2tog"/>
         <xs:enumeration value="ssp"/>
         <xs:enumeration value="ssp2tog"/>
         <xs:enumeration value="sssk3tog"/>
         <xs:enumeration value="sssp"/>
         <xs:enumeration value="sssp3tog"/>
         <xs:enumeration value="tl"/>
         <xs:enumeration value="tuck"/>
         <xs:enumeration value="turn"/>
         <xs:enumeration value="turnl"/>
         <xs:enumeration value="turnr"/>
         <xs:enumeration value="w&amp;amp;t"/>
         <xs:enumeration value="w&amp;amp;tl"/>
         <xs:enumeration value="w&amp;amp;tr"/>
         <xs:enumeration value="yo"/>
         <xs:enumeration value="yo2"/>
         <xs:enumeration value="yo3"/>
         <xs:enumeration value="yo4"/>
         <xs:enumeration value="yrn2k"/>
         <xs:enumeration value="yrn2p"/>
         <xs:enumeration value="yrn3k"/>
         <xs:enumeration value="yrn3p"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- other stitches can be identified using a short alphanumeric string -->
   <xs:simpleType name="stitch-id-string-type">
      <xs:restriction base="xs:token">
         <xs:pattern value="[A-Za-z0-9]1 10"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- optional instructions for how to knit each stitch -->
   <xs:complexType name="stitch-instructions-type">
      <xs:sequence>
         <xs:element name="stitch-instruction"
                      type="stitch-instruction-type"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <!-- type for stitch instruction -->
   <xs:complexType name="stitch-instruction-type">
      <xs:sequence>
         <xs:element name="stitch" type="stitch-id-type"/>
         <xs:element name="text" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <!-- empty type is equivalent to boolean false -->
   <xs:simpleType name="empty">
      <xs:restriction base="xs:string">
         <xs:enumeration value="''"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- type for stitch pattern -->
   <xs:element name="pattern" type="pattern-type"/>
</xs:schema>
